mixin project_header(name, date, langTags, miscTags, github, youtube)
  article(langTags=langTags, miscTags=miscTags class=`project taggable hideable` id=name.toLowerCase().split(" ").join("-").replace("*", "_").replace("'", "_"))
    .project-title.pb-2
        h3= name
        p.date= date
    .project-links.pb-2
            if github
                a.p-1(href=github, target="_blank")
                    .fab.fa-github.fa-2x
            if youtube
                a.p-1(href=youtube, target="_blank")
                    .fab.fa-youtube.fa-2x 
    block 

mixin project_footer()
    .d-flex.flex-wrap.project-tags.pl-2.pt-2
        h5 Tags:

mixin project(name, date, langTags, miscTags, imgurl, github, youtube)
    +project_header(name, date, langTags, miscTags, github, youtube)
        .project-single-image-container
            .project-content 
                block
            .project-images.cent
                img.img-primary(src=`assets/img/projects/${imgurl}.png`) 
        +project_footer(github, youtube)
        
mixin project_multiimage(name, date, langTags, miscTags, imgurl1, imgurl2, github, youtube)
    +project_header(name, date, langTags, miscTags, github, youtube)
        .project-double-image-container
            .project-content
                block
            .project-images.cent
                img.img-secondary(src=`assets/img/projects/${imgurl1}.png`) 
                img.img-primary(src=`assets/img/projects/${imgurl2}.png`) 
        +project_footer(github, youtube)

mixin project_noimage(name, date, langTags, miscTags, github, youtube)
    +project_header(name, date, langTags, miscTags, github, youtube)
        .project-double-image-container
            .project-content
                block
        +project_footer(github, youtube)
