mixin project_header(name, date, tags, github, youtube, kind)
  article(tags=tags, class=`project taggable hideable project-${kind}`)
    .project-title.pb-2
        h3= name
        p.date= date
        .inline.project-links
            if github
                a.p-3(href=github, target="_blank")
                    .fab.fa-github.fa-2x
            if youtube
                a.p-3(href=youtube, target="_blank")
                    .fab.fa-youtube.fa-2x 
    block 

mixin project_footer()
  .inline.project-tags.pl-2.pt-2
    h5 Tags:

mixin project(name, date, tags, imgurl, github, youtube)
    +project_header(name, date, tags, github, youtube, "desktop")
        .row 
            .col-7
                block
            .col-5     
                    img(src=`assets/img/projects/${imgurl}.png`) 
            +project_footer(github, youtube)
    +project_mobile(name, date, tags, github, youtube, imgurl)
        block
        
mixin project_multiimage(name, date, tags, imgurl1, imgurl2, github, youtube)
    +project_header(name, date, tags, github, youtube, "desktop")
        block
        .row.d-flex.justify-content-center.pb-2
            img(src=`assets/img/projects/${imgurl1}.png`) 
            img(src=`assets/img/projects/${imgurl2}.png`) 
        +project_footer(github, youtube)
    +project_mobile(name, date, tags, github, youtube, imgurl2)
        block

mixin project_noimage(name, date, tags, github, youtube)
    +project_header(name, date, tags, github, youtube, "desktop")
            block
            +project_footer(github, youtube)
    +project_mobile(name, date, tags, github, youtube)
        block


mixin project_mobile(name, date, tags, github, youtube, imgurl)
    +project_header(name, date, tags, github, youtube, "mobile")
        block
        .cent
            if imgurl
                img(src=src=`assets/img/projects/${imgurl}.png`)
        +project_footer