html(lang="en")
  include _partials/common.pug
  script(src="assets/js/Projects.js")
  main
    mixin project(name, date, tags, imgurl)
      article.project(tags=tags)
        .project-title.pb-2
          h3= name
          p= date
        .row 
          .col-7
            block
          .col-5     
            img(src=imgurl) 
        .inline.project-links.pl-2.pt-2
          h5 Links:
        .inline.project-tags.pl-2.pt-2
          h5 Tags:

    mixin project_multiimage(name, date, tags, imgurl1, imgurl2)
      article.project(tags=tags)
        .project-title.pb-2
          h3= name
          p= date
        block
        .row.d-flex.justify-content-center.pb-2
          img(src=imgurl1) 
          img(src=imgurl2) 
        .inline.project-links.pl-2.pt-2
          h5 Links:
        .inline.project-tags.pl-2.pt-2
          h5 Tags:


    h1 Projects
    ul#projects-index
    .project-list
    #project-articles.project-articles

      //
      //  FASTER THAN WIND
      //
      +project_multiimage("Faster Than Wind", "January 2016", "cpp sfml game", "assets/img/projects/ftw1.png", "assets/img/projects/ftw2.png")
        p An attempted clone of the game "FTL: Fater than Light". At the time I was very into the game FTL, so I felt like creating my own version would be an interesting challenge.  
          a(href="https://store.steampowered.com/app/212680/FTL_Faster_Than_Light/", target="_blank") (Link to original) 
        p It features a ship editor, as well as the game itself. The game itself was never finished beyond a main menu screen and a ship selection screen.
        p Eventually I would like to revisit this project and probably rewrite it.
      
      //
      //  PYORO
      //
      +project("Pyoro Clone", "December 2015", "cpp sfml game", "assets/img/projects/pyoro.png")
        p A simple clone of the WarioWare game, Pyoro 
          a(href="https://www.mariowiki.com/Pyoro", target="_blank") (Link to original)
        p This was created when racing a friend, who was also creating the same project. At the time, we were both new to using SFML in C++, and so we were giving eachother tips on how to implement certain functionality as we went. 
        p For example, he implemented the fading background, while I developed the extendable tongue.
        p In total, it took ~14 hours to complete.

      //
      //  HOPSON LAND
      //
      +project("Hopson Land", "August 2015","cpp game", "assets/img/projects/hopsonland.png")
        p This was one of my earliest games, created when I was first learning C++. It was also my first time creating classes correctly, as before this I did not really know what they were for.
        p It was just a simple RPG game where you had the ability to roam around a little world, and then encounter enemies in certain parts where it would transision to an RPG turn-based-style battle system.
        
      
      // +project("Name", "Date",  "Tags", "Image URL")
      //  

  include _partials/footer.pug